@media (max-width: 480px) {
  .home-bottom {
    flex-direction: column;
  }

  .home-bottom .pn {
    margin: 32px 0;
  }

  .home-bottom--contact {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
  }
}