.pn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pn-btn {
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}